*{
    padding: 0;
    margin: 0;
}

.cardWrapper{
    position: relative;
    display: flex;
    flex-direction: column;
    height: 420px;
    width: 310px;
    left: 20px;
    border-radius: 10px;
    background-color:#1D1F25;
    overflow-x: hidden;
}

.imageContainer{
    position: relative;
    height: 200px;
    width: 325px;
}
.imageContainer img{
    max-width: 100%;
    max-height: 100%;
    width:auto;
    height: auto;
}
.catContainer{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: white;
    

}
.catContainer .cat{
    height: 21px;
    width: 125px;
    font-family: Poppins;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 8px;
    margin-left: 13px;
    color: #FFBB29;
    

}

.catContainer .timespan{
    position: relative;
    height: 21px;
    width: 83px;
    font-family: Poppins;
    font-size: 14px;
    font-weight: 300;
    line-height: 21px;
    letter-spacing: 0px;
    text-align: left;
    color: #FFFFFF;
    float: right;
}

.titleContainer{
    align-items: flex-start;
    position: relative;
    margin-left: 13px;
    height: 58px;
    width: 293px;
    text-align: left;
    font-family: Poppins;
    font-size: 18px;
    font-weight: 600;
    line-height: 29px;
    letter-spacing: 0px;
    border-radius: nullpx;
    color: #FFFFFF;
    

}
.titleContainer .desc{
    height: 66px;
    width: 296px;
    border-radius: nullpx;
    font-family: Poppins;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0px;
    text-align: left;
    top:5px;
    color:#B5B5BE  !important; 
}

.readMore{
    position: relative;
    display: flex;
    flex-direction: row;
    top:70px;
    cursor: pointer;
    width: fit-content;
}

.readMore a{
    height: 21px;
    width: 76px;
    text-decoration: none;
    font-family: Poppins;
    font-size: 14px;
    font-weight: 500;
    line-height: 21px;
    letter-spacing: 0px;
    color: #FFBB29;
}

.arrow{
    color: #FFBB29;
}