
  @import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600&family=Poppins:wght@300;400;500;600&display=swap');

*{
    margin:0;
    padding: 0;
    
}
.main-wrapper{
    width:100%;
    height: 283px;
    position: sticky;
    display: flex;
    flex-direction: column;
    background-color: #1D1F25;
    z-index: 100;
    top:0;
    -webkit-user-select: none; 
    -ms-user-select: none; 
    user-select: none; 
}
.section1{
    position: relative;
    display: flex;
    flex-direction: row;
    height: 103px;
    width:100%;
}
.section2{
    position: relative;
    display: flex;
    flex-direction: column;
    height: 180px;
    width: 100%;
    top:12px;
   
}
.companyName{
    position: relative;
    height: 32px;
    width: 193px;
    padding-right: 25px;
    top: 36px;
    border-radius: nullpx;
    left:29px;

}
.companyName p{
    color: #FFBB29;
    line-height: 29.52px;
    font-family: Playfair;
    font-size: 24px;
    font-weight: 600;
    line-height: 30px;
    letter-spacing: 0em;   
    margin-left:10px;
    white-space: pre;
      
}
ul{
    position: relative;
    top: 39px;
    cursor: pointer;
}
ul li{
    position: relative;
    display: inline;
    height: 21px;
    width: 42px;
    border-radius: nullpx;
    margin-left:40px;
    color:#FFFFFF;
    
}

.sectionList li:hover{
    color: #FFBB29;
}
.sectionList .blog{
    color:#FFBB29;
}

.profileSection{
    position: relative;
    width: 10vw;
    height: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 44vw;
    top: 41px;
    cursor: pointer;

}
.profileSection .Icon{
    position: relative;
    color: white;
    
}

.profileSection .profilePhoto{
    position: relative;
    height: 40px;
    width: 40px;
    border-radius: 21.5px;
    bottom: 8px;
    margin-left:-8px;

}
.NotificationCount{
    position: relative;
    width:5px;
    height: 5px;
    border-radius: 2px;
    background-color: red;
    left: -27px;
    border: #FFFFFF 1px solid;
}
.breaker{
    height: 0px;
    width: 1440px;
    border-radius: 0px;
    border: 1px solid #FFFFFF;
    background: #FFFFFF;
    opacity:15% ;

}
.section2 .text{
    position: relative;
    height: 60px;
    width: 778px;
    left: 40px;
    border-radius: nullpx;
    font-family: Poppins;
    font-size: 40px;
    font-weight: 600;
    line-height: 60px;
    letter-spacing: 0em;
    text-align: left;
    color:white;
}
.searchSection{
    position: relative;
    display: flex;
    flex-direction: row;
    height: 45px;
    width: 448px;
    justify-content: space-between;
    border-radius: 6px;
    left:40px;
    top:40px;
}
.searchClass{
    position: relative;
    display: flex;
    flex-direction: row;
    background-color: #282C38;
    border-radius: 6px;
}
.searchBar{
    position: relative;
    height: 45px;
    background-color: #282C38;
    border-radius: 6px;
    width:350px;

}

.sortIcon{
    position: relative;
    display: flex;
    flex-direction: row;
    margin-left: 58vw;
    justify-content: space-between;
}

.sortIcon .Icon{
    position: relative;
    display: grid;
    height: 43px;
    width: 43px;
    border-radius: 5px;
    background-color: #282C38;
    align-items: center;
    justify-content: center;
    margin-left: 20px;
    text-align: center;

}

.sortIcon .Icon2{
    position: relative;
    display: grid;
    height: 43px;
    width: 43px;
    border-radius: 5px;
    background-color: #FFBB29;
    align-items: center;
    justify-content: center;
    margin-left: 9px;
    text-align: center;

}
.sortIcon .Icon:hover{
    background-color: #FFBB29;
    color: #FFFFFF;
}

.sortIcon .Icon2:hover{
    background-color: #282C38;
    color:#FFFFFF;
}



