*{
    padding: 0;
    margin: 0;
    
}

.mainWrapper{
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: black;
    width:100%;
    height: 518px;
}
.categories{
    position:relative;
    display:flex;
    width: 100%;
    height: 15vh;
    float:left;
}
ul{
    display: inline-block;
}
ul li{
    margin-right:-20px;
}


.categoryName{
    position: relative;
    height: 50px;
    width: fit-content;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 55px;
    margin-right: -20px;
    background-color: #1D1F25;
}

.categoryName :hover{
    user-select: none;
}

.CourseHolder{
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: row;

}
