*{
    padding: 0;
    margin: 0;
    
}

.mainWrapper{
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: black;
    width:100%;
    height: fit-content;
    overflow-x: hidden;
    z-index: 0;
}
.categories{
    position:relative;
    display:flex;
    width: 100%;
    height: 15vh;
    float:left;
}


.categoryUL{
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    
}

.categories ul li:hover {
    color: #000;
}
.categoryName{
    position: relative;
    height: 25px;
    width: fit-content;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 55px;
    margin-right: -10px;
    background-color: #1D1F25;
    -webkit-user-select: none; 
    -ms-user-select: none; 
    user-select: none;
   
     
}
.all{
    background-color: #FFBB29 !important;
   color:black;
}

.categoryName:hover{
    background-color: #FFBB29;
    transition: ease-in-out .5s;
}

ul:hover .all{
    background-color: #1D1F25 !important;
    color:#ffff;
}

.courseContainer{
    position: relative;
    width: 100%;
    height: fit-content;
    align-self: flex-start;
    margin-left:10px;
}

@media (max-width: 1170px){
    .courseContainer{
        margin-top:35px;
    }
}

@media (max-width: 600px){
    .courseContainer{
        margin-top:70px;
        align-self: center;
        justify-self: center;
    }

}
